<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.CommentMapper">
	<select id="findCommentsByUserId" resultMap="commentMapper">
		select * from comment, user where user.id = comment.arthor_id;
	</select>
	
	<select id="findCommentById" resultMap="commentMapper">
		select * from comment where comment.id = #{id}
	</select>
	
	<select id="findAllCommentByWeiboId" resultMap="commentMapper">
		select 
			c.id, c.content, c.create_at, c.reply_weibo_id, c.reply_comment_id, 
			u.username as arthor_username
		from comment as c, weibo as w , user as u
		where c.reply_weibo_id = w.id and w.id = #{id} and w.arthor_id = u.id
	</select>
	
	<select id="findAll" resultMap="commentMapper">
		select * from comment	
	</select>
	
	<insert id="insert" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
		insert into 
			comment(content, arthor_id, create_at, reply_weibo_id, reply_comment_id) 
		values 
			(#{content}, #{arthor.id}, #{createAt, jdbcType=TIMESTAMP}, #{replyWeibo.id}, #{replyComment.id})
	</insert>
	
		
	<resultMap type="ResultComment" id="commentMapper">
		<id property="id" column="id"></id>		
		<result property="createAt" column="create_at"/>
		
		<!-- <association property="arthor" column="arthor_id" javaType="User" select="findUserById" >
			<id property="id" column="id"/>
			<result property="username" column="username"/>
			<result property="createAt" column="create_at"/>
			<result property="avatar" column="avatar" />
		</association> -->
		
		<result property="content" column="content" />
		<result property="arthorName" column="arthor_username" />
		<result property="replyWeiboId" column="reply_weibo_id" />
		<result property="replyCommentId" column="reply_comment_id" />
	</resultMap>
</mapper> 