<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.UserMapper">
	<select id="findAll" resultMap="userMapper">
		select * from USER
	</select>
	
	<select id="findUserById" parameterType="int" resultMap="userMapper">
		select * from USER where id = #{id}
	</select>
	
	<select id="findUserByWeiboId" parameterType="int" resultMap="userMapper">
		select 
			user.id, user.username, user.avatar 
		from user, weibo 
		where user.id = comment.author_id and user.id = #{id}
	</select>
	
	<select id="findUserByUsername" parameterType="String" resultMap="userMapper">
		select 
			u.id, u.username, user.avatar
		from user as u
		where u.username = #{username}
	</select>
	
	<insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into USER(username, avatar) values (#{username}, #{avatar})
	</insert>
	
	<resultMap type="User" id="userMapper">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="avatar" column="avatar" />
	</resultMap>
</mapper>