<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.WeiboMapper">
	<select id="findAllWeibo" resultMap="WeiboMapper">
		select * from weibo
	</select>
	
	<select id="findAllWeiboByUser_id" resultMap="WeiboMapper">
		select * from weibo, user where user.id = #{id}
	</select>
		
	<resultMap type="Weibo" id="WeiboMapper">
		<id property="id" column="id"></id>		
		<result property="createAt" column="create_at"/>
		<association property="arthor" column="arthor" javaType="User" select="findUserById" >
			<id property="id" column="id"/>
			<result property="username" column="username"/>
			<result property="createAt" column="create_at"/>
			<result property="avatar" column="avatar" />
		</association>
	</resultMap>
	
	<select id="findUserById" resultType="User">
		select * from user where user.id = #{id} 
	</select>  
</mapper> 